/*body {
  padding-top: 50px;
}*/

.en-linea{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

}

.foto-fruta{
  width:50px;
  height: 50px;
}

.orden{
  display: flex;
  flex-direction: row;


}
.orden .botones{
  display: flex;
  flex-direction: column;

}

table th.selected{
  color:teal;
  font-weight: 800;
}


input:valid {
  background-color: #3CBC8D;
  color: white;
}

input:invalid {
  background-color: #f44336;
  color: white;
}