<div ng-controller="crudController" >

     <h2>{{titulo | capitalizar }}</h2>

     {{mensaje}}

     <h3>TODO</h3>
     <ol>
         <li style="text-decoration: line-through">Pintar datos en Tabla</li>
         <li style="text-decoration: line-through">Formulario para crear nuevas canciones</li>
         <li style="text-decoration: line-through">Boton papelera para eliminar</li>
         <li style="text-decoration: line-through">Poder Modificar una cancion</li>
         <li>Interesante para repaso Filtros y Ordenacion</li>
     </ol>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th> 
                    <th></th>          
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cancion in canciones">
                        <td scope="row">{{cancion.id}}</td>
                        <td>{{cancion.nombre}}</td>
                        <td>
                            <i class="fas fa-edit fa-2x" ng-click="cambiarEstado(cancion)" data-toggle="modal" data-target="#modalEditar"></i>
                            <i class="fas fa-trash-alt fa-2x" ng-click="eliminarCancion(cancion)"></i>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div> <!-- /columna 1 -->

        <div class="col">
            <div class="border p-3">
                <h6>Crear Canción</h6>
                <input type="text" ng-model="nombre" autofocus placeholder="Introduce nueva canción.">  
                <button class="btn btn-primary" ng-click="nuevaCancion(nombre)"
                        ng-disabled="nombre==null">Crear</button>
                <br>
                <p class="bg-info p-2 m-2">{{ (nombre==null)?"Longitud incorrecta.":mensaje }}</p>
            </div>

        </div> <!-- /columna 2 -->
    </div>

    
<!-- Modal Editar-->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Canción</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Id antiguo: {{cancion.id}} <input type="text" placeholder="{{cancionEditar.id}}" readonly>
                    <br>
                    Nombre antiguo: <input type="text" placeholder="{{cancionEditar.nombre}}" readonly>
                    <br>
                    Nuevo nombre: <input type="text" ng-model="nuevoNombre" autofocus placeholder="Introduce nuevo título.">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editarCancion(cancionEditar.id,nuevoNombre)">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /crudController -->